@import "inicio";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.body {
    background-color: aqua;
    text-align: center;
    font-family: 'Square Peg', cursive;
    text-transform: uppercase;
}

body {
    background-color: aqua;
    text-align: center;
    font-family: 'Square Peg', cursive;
    text-transform: uppercase;
}

.album {
    background-color: aqua;
    text-align: center;
    font-family: 'Square Peg', cursive;
    text-transform: uppercase;
}